body{
    font-size: 1rem;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

/* Nav bar styles */

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    margin: 4px;
    font-size: 1.25rem;
}
.nav-bar a:hover{
    text-decoration: underline;
}
.nav-bar img{
    margin: 4px;
}
.brand-name-logo{
    font-family: 'Arizonia', cursive;
    font-size: 3rem;
}
.brand-name-logo img{
    height: 4rem;
}

/* Landing page intro styles */

.main-page-intro{
    margin: 0;
    padding: 0;
    display: block;
   background-image: url('./images/v-abstract.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   width: 100vw;
   height: 30vh;
   color: white;
}

.main-page-intro h1{
    font-size: 8rem;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;

}
.main-page-intro h3{
    font-family: 'Arizonia', cursive;
    font-size: 10rem;
    margin-left: 40vw;
    margin-top: 0;
}
.new-item-button{
    width: 15rem;
    height: 5rem;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Landing page Category styles */
.browse-title{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
}

.category-links{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3vh;
}
.category-div-shirt{
    width: 13rem;
    height: 15rem;
    background-color: #fc60a9;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}
.category-div-shirt img{
    width: 6rem;
    height: 6rem;
    margin-top: 1vh;
}
.category-div-underwear{
    width: 13rem;
    height: 15rem;
    background-color: #ceeb97;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}
.category-div-underwear img{
    width: 6rem;
    height: 6rem;
    margin-top: 1vh;
}
.category-div-accessories{
    width: 13rem;
    height: 15rem;
    background-color: #f4b393;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}
.category-div-accessories img{
    width: 6rem;
    height: 6rem;
    margin-top: 1vh;
}
.category-div-all{
    width: 13rem;
    height: 15rem;
    background-color: #7a28cb;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}
.category-div-all img{
    width: 6rem;
    height: 6rem;
    margin-top: 1vh;
}

/* Page spacer boxes */

.page-spacer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.page-spacer-1{
    height: 2rem;
    width: 60vw;
    background-color: #fc60a9;
}
.page-spacer-2{
    height: 2rem;
    width: 40vw;
    background-color: #7a28cb;
    margin-left: auto;
}
.page-spacer-3{
    height: 2rem;
    width: 60vw;
    background-color: #ceeb97;
}

/* New items div styles */

.new-item-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
}
.new-item-header{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: black;
}
.new-item-images{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100%;
}
.new-drop-button{
    width: 15rem;
    height: 5rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #7a28cb;
    color: white;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Landing page contact styles */

.contact-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: purple;
    color: white;
    width: 100vw;
    height: 30vh;
}

.follow-header{
    margin-top: 5vh;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color:#fc60a9;
}